<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Welcome, {{ username }}!</h2>
  <p>You are logged in as <strong>User</strong></p>

  {% if projects %}
    <div class="grid">
      {% for project in projects %}
       <a class="nav-btn" href="{{ url_for('work_products', project_id=project.id) }}">
        {{ project.name }}
      </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No assigned projects available.</p>
  {% endif %}

  <a class="link" href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
